body {
	color: rgb(0, 79, 168);
}
p {
	color: rgb(0, 87, 0); 
}
.navbar{
	border-bottom:1px solid rgb(0, 79, 168);
	/*
	Fixed nav code
	position: fixed;
	width:100%;
	background-color: #fff;
	z-index:100;*/
}
.col-md-12, .col-md-6{
	border: 2px solid rgba(0,0,0,.125);
	margin:5px auto;
	background-color:#fff;
}
img {
	width: 100%;
	height: auto;
}
.col-md-12{
	max-height: 938px;
}
.col-md-12 img{
	max-height: 718px;
	width: auto;
}

.row{
	margin-right: 0px;
	margin-left: 0px;
}

.zoom1 {
	transition: transform .2s; /* Animation */
	width: auto;
	height: auto;
	margin: 0 auto;
      }
      
.zoom1:hover {
	
	z-index:10;

	transform: translateX(-20%) scale(1.5);
	
}

.zoom2 {
	transition: transform .2s; /* Animation */
	width: auto;
	height: auto;
	margin: 0 auto;
      }
      
.zoom2:hover {
	
	z-index:10;
	
	transform: translateX(20%) scale(1.5);
	
}